.Spacing {
    padding:6rem 5rem;   
}
.Spacing h2{
    font-family: "Alegreya",serif;
    text-align: center;
    color:var(--SomeBlue)
}
.Spacing .content1 {
    text-align: left;
    display: flex;
    padding-top: 8rem;
}
.Spacing .content {
    text-align: center;
    display: flex;
    align-items: center;
    gap:6px;
    flex-direction: column;
}

.Spacing .Form {
    text-align: center;
    display: flex;
    padding: 2rem;
    gap:6px;
    
}
 