.active{
    background-color: hsl(43, 95%, 55%,0.8);
    border-radius: 10px;
    background-size: contain;
}
nav ul li a:not(.active):hover{
    background-color: hsl(43, 95%, 55%,0.3);
    border-radius: 10px;
}

nav {
    position: fixed;
    width:1024px;
    top:24px;
    background: rgba(255, 254, 248, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 300;
    padding: 14px 32px;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    align-self:center;
}

nav ul li a{
    color: var(--SomeBlue);
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
}
a.logo{
    display: flex;
    color: var(--YellowOrch-color);
    font-weight: 800;
    font-size: 16px;
}
a.logo .yellow{
    color:var(--SomeBlue);
}

a.logo .LogoName{
    display: flex;
    align-self:center;
}
