header{
    min-height: 100vh;
    width:100%;
    background: url('../../images/DoctorBG.png');
    background-size: cover;
    background-position: center;
}

header .wrapper{
    position: relative;
    height: 100vh;
}

header .cta{
    position: absolute;
    bottom:0;
    right:0;
    width: 500px;
    background: rgba(255, 254, 248, 0.5);
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 20px 20px 0px 0px;
    padding: 50px 40px;
}

header .cta .Quote{
    font-weight: 800;
    font-size: 13px;
    color:var(--darkblue-color);
    position: relative;
}
/*Line after Quote*/
header .cta .Quote::after{
    content: "";
    position: absolute;
    width:60px;
    height:4px;
    background-color: var(--YellowOrch-color);
    left: 0;
    bottom: -10px;
}
header .wrapper .NavSpacing{
    top: 24px;
}
header .cta h1{
    font-family: "Alegreya";
    font-weight: 700;
    font-size:35px;
    line-height: 140%;
    color: #fff;
    -webkit-text-stroke: 1.5px hsl(0, 0%, 0%,0.1);
    text-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.6);
     ;
}

header .cta .Contact-btn{
    border-radius: 10px;
    background: var(--YellowOrch-color) ;
    color: var(--darkblue-color);
    padding: 10px 32px;
    font-weight: 800;
    font-weight: 16px;
}

header .cta .Contact-btn:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.6)!important;
}